:root {
	--white: #f9f9fb;
	--wh: #ebedf2;
	--blue: #5b77c6;
	--bl: #4967c0;
}
body {
	background-color: var(--wh);
	width: 100%;
	font-family: 'Open Sans', Arial, Tahoma, Verdana, Sans-serif;
}

header {
    border-top: 1px solid #0077cb;
    border-bottom: 1px solid #015695;
    background: var(--bl);
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    z-index: 150;
    top: 0;
    position: fixed;
    box-sizing: border-box;
}
.head {
	height: 54px;
	padding: 0;
    position: relative;
}
.logo {
	line-height: 47px;
	float: left;
}
.head b {
	float: left;
	    display: block;
    color: #FFF;
    padding-top: 10px;
    margin-left: 20px;
    text-shadow: 0 1px 1px #005fab;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4em;
}

.body-container {
	width: 90%;
    max-width: 1280px;
    min-width: 980px;
    margin: 0 auto;
    position: relative;
}
.controlls {
	    right: 10px;
    position: absolute;
}
.addComm {

    float: right;
    /*background-color: var(--blue);*/
    background-color: #c54126;
    border: 2px solid white;
    border-radius: 4px;
    height: 38px;
    margin-top: 7px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    width: 185px;
}
.fa-pencil {
	    margin-right: 5px;
}
.fa-align-justify, .fa-search {
    margin-top: 14px;
    margin-right: 15px;
    color: white;
    font-size: 26px;
    cursor: pointer;
}


.body {
	margin-top: 100px;
	width: 100%;
}
.galery {
	margin-top: 60px;
	padding: 0 !important;
}
.item_box {
  		width: 25%;

	padding: 4px 4px;
	box-sizing: border-box;
}
* {
	box-sizing: border-box;
}
.item {
		background-color: #ffffff;
		width: 100%;
		height: 100%;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border: 1px solid #cfcfcf;
		transition: 0.3s all;
		/* cursor: pointer; */
		padding:20px;
		box-sizing: 10px;

}
.col {
	padding: 0;
    display: table-cell;
    vertical-align: middle;
}
.col:first-child {
    width: 120px !important;
}
.col h2 a {
	color: #000;
}
.item-head {
	width: 100%;
	border-bottom: 1px solid #eee;
}
.item_img {
	margin: 0 !important;
}
.item_img img {
    border-radius: 4px;
    overflow: hidden;
    width: 100px;
    height: auto;
}
.item:hover {
	background-color: var(--white);
}
.small_logo {
	display: none;
	    height: 40px;
    margin-top: 8px;
}

.modal-add {
   			display: none;
   			background: rgba(0, 0, 0, 0.5);
   			height: 100vh;
   			width: 100%;
   			position: fixed;
   			top: 0;
   			left: 0;
   			z-index: 999;

   		}

   		.modal-window {
    overflow-y: scroll;
		position: absolute;
    height: 700px;
    width: 700px;
    background: white;
    left: 50%;
    top: 50%;
    margin-top: -350px;
    margin-left: -350px;
    padding: 35px;
    box-sizing: border-box;
			
   		}
   	.modal-helper{
   		width: 100%;
    	height: 100%;
    	padding-left: 4px;
   	}
   	.star{
    margin-bottom: 15px;
    color: #ced4da;
    cursor: pointer;
    padding-left: 6px;
   	}
   	.star i {
   	    margin-left: -4px;
    		font-size: 25px;
   	}
   	.chosed {
   		color: orange !important;
   	}
   	.comment-header h2 {
   	    font-weight: 700;
    		margin-bottom: 20px;
   	}
   	.form-control {
   		border-radius: 0;
   	}
   	.form-about i {
    position: absolute;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 10;
    color: #ced4da;
   	}
	.form-about input {
		padding-left: 36px;
	}
	#text {
    padding-left: 36px;
		height: 200px;
    min-height: 40px;
	}
  #modal-close {
    cursor: pointer;
    POSITION: absolute;
    right: 25px;
    top: 25px;
    font-size: 35px;
  }
   		@media (max-width: 800px){
   			.modal-window{
   				width: 100%;
   				margin-left: 0;
   				left:0; 
   			}
   		}
      @media (max-height: 800px){
        .modal-window{
          height: 100%;
          margin-top: 0;
          top:0; 
        }
      }
   		.main-carousel {
   			padding-left: 10px;
   			padding-right: 10px;
   			padding-top: 5px;
   		}
   		.carousel-cell {
   			cursor: pointer;
   		}
   		.item-scroll {
        border: 1px solid #DFE1E5;
    background-color: #FFFFFF;
    border-radius: 32px;
        margin-right: 10px;
    color: #3C4043;
    font-size: 13px;
    line-height: 29px;
    height: 32px;
    padding: 0 12px;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none !important;
   		}
   		.item-scroll:hover {
   			background: #f5f5f5;;
   		}
   		.info {
   			padding:15px;
   			    background: floralwhite;
    
    
   		}
   		.info i {
   			float: left;
   			font-size: 30px;
    width: 45px;
    margin-top: 2px;
 }
 .pd15 {
 	padding-right: 10px;
 	padding-left: 10px;
 	margin-bottom: 10px;
 }
.info-text {
     font-size: 13px;
    line-height: 1.4em;
}
.positive, .negative {
 height: 100px;
 width: 100%;
     display: block;
    width: 100%;
    padding: .375rem .75rem;
    padding-left: 36px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-height: 40px;
    display: none;
}


 
@media (max-width: 980px){
	.body-container {
		width: 100%;
		padding: 0 10px;
		min-width: 0px;
	}
	.head b {
		display: none;
	}
}
@media (max-width: 1190px){
	.head b {
		display: none;
	}
}
@media (max-width: 1160px) and (min-width: 701px){
	.item_box {
		width: 50%;
	}
}
@media (max-width: 700px){
	.item_box {
		    width: 100%;
    left: 0 !important;
    position: relative !important;
    padding: 4px 8px;
    top: 0 !important;
	}
}
@media (max-width: 500px){
	.small_logo {
		display: block;

	}
	.big_logo {
		display: none;
	}
}


.post-head {
	width: 100%;
	border-bottom: 1px solid #eee;
}
.post-img, .post-title {
	    display: table-cell;
			 vertical-align: middle;
}
.item-img {
	float: left;
	width: 100px;
	height: auto;
	overflow: hidden;
	border-radius: 4px;
}
.post-title {
	padding-left: 10px;
	box-sizing: border-box;
}
.post-title h2 {
	font-size: 17px !important;
    line-height: 1.1em;
    display: block;
    font-weight: 600 !important;
		margin-bottom: 5px;
}
.title-description, .coments, .views {
	color: #757575;
margin-top: -3px;
margin-bottom: 7px;
line-height: 14px;
margin: 0;
padding: 0;
font-size: 12px;
}
 .coments, .views {
	 font-size: 11px;
 }
 .marc i {
	 color: orange;
	 font-size: 14px
 }
 .views {
	 margin-bottom: 10px;
 }
 .post-body {
	 margin-top: 10px;
 }
 .writer b{
    font-size: 12px;
 }
 .writer small{
    font-size: 10px;
 }
.post-body a{
	text-decoration: none;
	color: inherit;
	font-size: 14px;
}
.post-body strong{
	width: 100%;
	font-size: 16px;
}
.item strong {
		 font-weight: 500;
}
.post-footer {
	margin-top: 10px;
}
.post-footer strong {
	font-size: 14px;
}
.__alert {
    border-left: 3px solid red;
}
.top-pusher {

	z-index: 100;
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 50px;
  color: var(--bl);
	display: none;
	cursor: pointer;
}
.load{

    padding-top: 125px;
    height: 300px;
    width: 100%;
    z-index: 100;

    bottom: 0;

}
.page-loader-circle {
    position: absolute;
    left: 50%;
    width: 36px;
    height: 36px;
    margin: -18px 0 0 -18px;
    border-radius: 50%;
    border: 2px solid;
    border-top-color: rgba(34, 34, 34, 1);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgba(34, 34, 34, 1);
    border-right-color: rgba(0, 0, 0, 0.15);
    -webkit-animation: page-loader-circle 0.8s linear infinite;
    animation: page-loader-circle 0.8s linear infinite;
}
#send_message {
      color: white;
}
 
@keyframes page-loader-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
 
@-webkit-keyframes page-loader-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.helper {
      margin-top: 16px;
  position: absolute;
  background-color: white;
}